<h1 class="page-head">Chat with <%= @matched_user.first_name %></h1>
<h4>Matched <%= time_ago_in_words(@match.created_at) %> ago</h4>
<%= react_component('MessageBox', {:presenter => @presenter.to_json, :url => "/matches/#{@match.id}/chat", :updateInterval => 10000}) %>