html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

#viewport {
    width: 100vw;
    height: 90vh;
    border: 10px;
    margin: 0 auto 0;
    position: relative;
}

#viewport .stack {
    width: 100vw;
    height: 80vh;
    border-radius: 10px;
}

#viewport li {
    width: 90vw;
    height: 90vh;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
    text-align: center;
    border: 10px solid #ECECEC;
    box-sizing: border-box;
    padding: 10px;
    cursor: default;
}

/* second card */
#viewport li.in-deck:nth-child(4) {
    top: 2px;
    /*transform: translate(2px, 0px);*/
}

/* third card */
#viewport li.in-deck:nth-child(3) {
    top: 4px;
    /*transform: translate(-2px, 0px);*/
}

/* fourth card */
#viewport li.in-deck:nth-child(2) {
    top: 6px;
    /*transform: translate(2px, 0px);*/
}

/* fifth card */
#viewport li.in-deck:nth-child(1) {
    top: 8px;
    /*transform: translate(-2px, 2px);*/
}