
<div class="modal-body zipcode-modal-body">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  <p>enter your zipcode</p>
  <%= form_for(current_user, url: '/update_profile', html: { method: :put }) do |f| %>
    <div class="actions">

      <%= f.text_field :zipcode, class: "form-control",autofocus: true, autocorrect: "off", pattern: "[0-9]*"%>
      <%= f.submit "Update", class: "zipcode-submit" %>
    </div>
  <%end%>



</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div> -->
