<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 className="large_center">Add an Activity</h2>
</div>
<div class="modal-body">
<%= react_component('PickSports',
                    { user: @user, sports: @all_sports}) %>
<div>
