<div class="profile-row">
<img class="profile-pic" src='<%= @user.profile_picture_url %>'/>
</div>
<p class="profile-text name-age"><%= @user.first_name %> <%= @user.last_name %>, <%= @user.age %></p>
