<div id="profile-img-container">
  <img src="<%=user.profile_picture_url%>">
</div>
<h1><%= user.first_name %></h1>
<p><%= user.bio %></p>
<% user.activities.each do |activity| %>
<button class="sport_card sports-beginner-card"><%= activity.name %></button>
<% end %>

<div class="dislike"></div>
<div class="like"></div>
