<img src="<%=user.profile_picture_url%>">
<h1><%= user.first_name %></h1>
<p><%= user.bio %></p>
<% user.activities.each do |activity| %>
<button class="btn btn-xs disable-button btn-success" disabled><%= activity.name %></button>
<% end %>
