<div class="modal-header">
  <h4 class="modal-title text-center" id="myModalLabel">Swipe left or right on a card</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <img src="assets/swipe_left.png" class="swipe-left">
      <h3 class="dislike text-danger text-center">I don't think this person is a great fit.</h3>
    </div>
    <div class="col-xs-6">
      <img src="assets/swipe_right.png" class="swipe-right">
      <h3 class="like text-success text-center">This person seems like a good fit.</h3>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success btn-block center-block" data-dismiss="modal">Start Swiping</button>
</div>

