
<%= react_component('ProfileTest',
                    { user: @user, sports: @already_chosen_activities, activity_blurbs: @activity_blurbs,
                      all_sports: @all_sports,
                      first_visit: @first_visit}) %>

<div class="footer">

<!-- <button class="col-xs-6"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></button>
<button class="col-xs-6"><%= link_to "Save", '/update_profile' %></button>
</div>
 -->
