<link rel="stylesheet" href="/stylesheets/jTinder.css">
<div id="cards" class="profile-show" style="display: hidden">

  <ul>
    <li>
      <%= render partial: 'users/show_card', layout: false, locals: {user: @user} %>
      <div class="profile-show-sports-container">
      <%= render partial: 'users/profile_sports', layout: false, locals: {user: @user} %>
      </div>
    </li>
  </ul>


</div>


