<link rel="stylesheet" href="/stylesheets/swiper.min.css">
<link rel="stylesheet" href="/stylesheets/swiper_config.css">

<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="assets/tinder-1.jpeg"></div>
        <div class="swiper-slide"><img src="assets/tinder-2.jpeg"></div>
        <div class="swiper-slide"><img src="assets/tinder-3.jpeg"></div>
        <div class="swiper-slide"><img src="assets/tinder-4.jpeg"></div>
        <div class="swiper-slide"><img src="assets/tinder-5.jpeg"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<!-- Swiper JS -->
<script src="/javasripts/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script src="/javasripts/swiper_config.js"></script>