
<h1> Invalid credentials. </h1>
<div class="alert alert-danger">
<h4>In order to access the requested page, you must first sign in with Facebook to register your account.</h4>
</div>
<div class="center">
<%= link_to "Get Started", user_omniauth_authorize_path(:facebook), :class=>"btn btn-success btn-lg" %>
</div>
