<div class="flex">
  <div class="holder">
    <img id="iphone_desktop" src="assets/iphone.png">
    <iframe id="iframe_desktop" src="/" width="347" height="613" scrolling="auto"></iframe>
  </div>
</div>

<style>

  #iphone_desktop {
    position: relative;
    width: 100%;
  }

  #iframe_desktop {
    position: absolute;
    top: 108;
    left: 72;
    border-radius: 8px;
    border: 0;
    overflow:hidden;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .holder {
    position: relative;
    width: 500px;
  }


</style>
