<link rel="stylesheet" href="/stylesheets/swiper.min.css">
<link rel="stylesheet" href="/stylesheets/swiper_config.css">

<div id="background-img">
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="front-page">
          <img src="assets/my_logo.png" class="logo">
          <h1 id="home-title">Doubles</h1>
          <!-- INNER SLIDER FOR ROTATING SPORT NAMES -->
          <h4 class="home-subtitle"> Find your next
            <div id="activityCarousel" class=" slide" data-ride="carousel" data-interval="2300">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="">
                    <span>tennis partner</span>
                  </div>
                </div>
                <div class="item">
                  <div class="">
                    <span>golf pair</span>
                  </div>
                </div>
                <div class="item">
                  <div class="">
                    <span>running mate</span>
                  </div>
                </div>
                <div class="item">
                  <div class="">
                    <span>racquetball rival</span>
                  </div>
                </div>
                <div class="item">
                  <div class="">
                    <span>belayer bud</span>
                  </div>
                </div>
              </div>
            </div>
            <span> in just a few swipes</span>
          </h4>
          <!-- INNER SLIDER FOR ROTATING SPORT NAMES -->
        </div>
      </div>
      <div class="swiper-slide"><img src="assets/tinder-1.jpeg"></div>
      <div class="swiper-slide"><img src="assets/tinder-2.jpeg"></div>
      <div class="swiper-slide"><img src="assets/tinder-3.jpeg"></div>
      <div class="swiper-slide"><img src="assets/tinder-4.jpeg"></div>
      <div class="swiper-slide"><img src="assets/tinder-5.jpeg"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"><span class="glyphicons glyphicons-chevron-right"></span></div>
    <div class="swiper-button-prev"><span class="glyphicons glyphicons-chevron-left"></span></div>
  </div>

  <!-- Swiper JS -->
  <script src="/javascripts/swiper.min.js"></script>
  <!-- Initialize Swiper -->
  <script src="/javascripts/swiper_config.js"></script>

</div>

<<<<<<< HEAD
<div class="home-bottom-div-10">
    <%= link_to "Get Started", user_omniauth_authorize_path(:facebook), :class=>"col-xs-12 home-footer-cta start-btn" %>
=======
<div class="home-bottom-div-10 fixed-zindex-to-top">
    <%= link_to "Get Started", user_omniauth_authorize_path(:facebook), :class=>"col-xs-12 home-footer-cta btn-success" %>
>>>>>>> c65558f04b956ac2558404cd479684f8368bd255
</div>
