<div>
<div class="front-page">
<h1 id="home-title">TeamUp</h1>
<h4 class="home-subtitle">Finding a person to do a thing with.™</h4>


<div class="center">
<%= link_to "Get Started", user_omniauth_authorize_path(:facebook), :class=>"btn btn-success btn-lg" %>
</div>

<div class="down-arrow text-center">
<span class="glyphicon glyphicon-chevron-down"></span>
</div>
</div>
<div class="clearfix home-text">
  <img class="home-pic pull-left" src="/assets/playing_tennis.jpg"/>
  After signing up and telling us what sports and activities you enjoy, TeamUp takes your location and finds people close to you that share those same interests.
</div>
<div class="clearfix home-text">
  <img class="home-pic pull-right" src="/assets/playing_golf.jpg"/>
  You then can choose from those people and find the ones who most interest you. After you match you can jump into our chat room and start communicating!
</div>
</div>
