<div class="front-page">
<h1 id="home-title">Doubles</h1>
<h4 class="home-subtitle">Finding a person to do a thing with.</h4>

</div>
<div class="clearfix home-text">
  <img class="home-pic pull-left" src="https://static.pexels.com/photos/33273/pexels-photo.jpg"/>
  Here is some text about the site uykff ytjdfygv ftkyf yugfkuyf yukfguyfg yufgkuyg.
</div>
<div class="clearfix home-text">
  <img class="home-pic pull-right" src="https://static.pexels.com/photos/1137/wood-animal-dog-pet.jpg"/>
  Here is some text about the site.
</div>

