<% if @available_users %>
  <% @available_users.each do |user| %>

    <h1><%= user.first_name%></h1>
    <ul>
      <li><%= user.age %></li>
      <li><%= user.gender %></li>
      <li><%= user.bio %></li>
    </ul>

  <%end %>
<% else %>
<h1>No people matching your interests near you</h1>
<% end %>

