<link rel="stylesheet" href="/stylesheets/jTinder.css">
<script type="text/javascript" src="/javascripts/geolocation.js"></script>
<script type="text/javascript" src="/javascripts/jquery.transform2d.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jTinder.js"></script>
<script type="text/javascript" src="/javascripts/jtinder_config.js"></script>

<div id="loading" class="text-center feed-loading">
  <i class="fa fa-futbol-o fa-5x fa-spin" style="font-size: 5em !important; color: black; margin-left: 0 !important; margin-top: 25%;"></i>
</div>
<div id="cards" style="display: hidden">
  <ul>
  </ul>
</div>
<div class="modal fade modal-tiny" tabindex="-1" role="dialog" aria-labelledby="feedModal" id="feedModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>


