<link rel="stylesheet" href="/stylesheets/jTinder.css">
<script type="text/javascript" src="/javascripts/jquery.transform2d.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jTinder.js"></script>

<% if @next_five_users.length > 0 %>
<div id="cards">
  <ul>
    <% @next_five_users.each do |user| %>
      <%= render :partial => "swipes/generate_cards", :locals => {:user => user } %>
    <% end %>
  </ul>
</div>
<!-- <div class="actions">
  <a href="#" class="dislike"><i></i></a>
  <a href="#" class="like"><i></i></a>
</div> -->
<script type="text/javascript" src="/javascripts/jquery.transform2d.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jTinder.js"></script>
<script type="text/javascript" src="/javascripts/jtinder_config.js"></script>
<% else %>
<h2 class="text-center">No people matching your interests near you.</h2>
<% end %>
<div class="modal fade modal-tiny" tabindex="-1" role="dialog" aria-labelledby="matchModal" id="matchModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <a href="/matches" style="width: 49%" class="btn btn-primary pull-left">Send Message</a>
        <button type="button" style="width: 49%" class="btn btn-warning" data-dismiss="modal">Continue Swiping</button>
      </div>
    </div>
  </div>
</div>
