<div>
<% if @next_available_user %>
<%= render :partial => "users/show_card", :locals => {:user => @next_available_user } %>
<% else %>
<h2 class="text-center block-text">No people matching your interests near you.</h2>
<% end %>
</div>
