<link rel="stylesheet" href="/stylesheets/jTinder.css">
<script type="text/javascript" src="/javascripts/jquery.transform2d.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jTinder.js"></script>

<% if @next_five_users.length > 0 %>
<div id="cards">
  <ul>
    <% @next_five_users.each do |user| %>
    <li id="<%= user.id %>">
      <%= render :partial => "users/show_card", :locals => {:user => user } %>
    </li>
    <% end %>
  </ul>
</div>
<!-- <div class="actions">
  <a href="#" class="dislike"><i></i></a>
  <a href="#" class="like"><i></i></a>
</div> -->
<script type="text/javascript" src="/javascripts/jquery.transform2d.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jTinder.js"></script>
<script type="text/javascript" src="/javascripts/jtinder_config.js"></script>
<% else %>
<h2 class="text-center block-text">No people matching your interests near you.</h2>
<% end %>