<h1> Everything But(t) Sex</h1>
<img height="350" width="350" src="http://cliparts.co/cliparts/6Tr/5yy/6Tr5yyjnc.jpg"/>
<button type="button" class="btn btn-block btn-success">
  <%= link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook) %>
</button>
<button type="button" class="btn btn-block btn-success">
  <%= link_to "Sign up with Facebook", new_user_registration_url(:facebook) %>
</button>
<br>
<div class="row">
  <img height="150" width="150" src="https://pbs.twimg.com/profile_images/3225117707/d578cdfeb7dc93ace77021e1a0034ae2.jpeg"/>
  <span>Here is some text about the site.</span>
</div>
<div class="row">
  <span>Here is some text about the site.</span>
  <img height="150" width="150" src="https://pbs.twimg.com/profile_images/3225117707/d578cdfeb7dc93ace77021e1a0034ae2.jpeg"/>
</div>
