<div class="modal-body">
  <div class="text-center">
  <h1>You found a Double!</h1>
  <img src="<%=@matched_user.profile_picture_url%>" style="height: 200px; border-radius: 20px;">
  <h2><%=@matched_user.first_name%></h2>
  <% @matched_user.activity_blurbs.each do |blurb| %>
  <button class="sport_card sports-beginner-card"><%=activity.name%></button>
  <% end %>
  </div>
</div>
<div class="modal-footer">
  <a href="/matches" style="width: 49%" class="btn btn-primary pull-left">Send Message</a>
  <button type="button" style="width: 49%" class="btn btn-warning" data-dismiss="modal">Continue Swiping</button>
</div>
