<h1 class="page-head">All Your Matches</h1>

<div class="text-center block-text">
  <% if @matches.length == 0 %>
  Sorry, no matches yet, check back again later!
  <% else %>
  Congrats, you have <%= @matches.length %> matches!
  <% end %>
</div>

<% @matches.each do |match| %>
<div class="row block-text">
  <% if match.first_user_id == current_user.id %>
    <% matched_user = match.second_user %>
  <% elsif match.second_user_id == current_user.id %>
    <% matched_user = match.first_user %>
  <% end %>
<h2> Name: <%= matched_user.first_name %> </h2>
<h3> Activities:
  <% matched_user.activities.each do |activity| %>
  <button>
    <span class="activity-button">
      <%= activity.name %>
    </span>
  </button>
  <% end %>
</h3>
<h4> Bio: <%= matched_user.bio %> </h4>

</div>
<% end %>