/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$light: #C2C2C2;
$medium: #808080;
$dark: #383838;
$green-highlight: #11AD09;


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  font-family: 'Open Sans', sans-serif;
  text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
}

.container-fluid .btn {
  text-shadow: none !important;
}

.container-fluid a {
  color: black;
  text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
}

.container-fluid .btn-success {
  color: black;
}

.container-fluid input {
  font-family: sans-serif;
  text-shadow: none !important;
  color: black;
}

.container-fluid .text-div {
  background-color: rgba(49,51,51,0.8);
  padding: 4px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icon {
  height: 30px;
  width: 30px;
}

.group-btn .btn {
  margin-right: 1px;
  margin-left: 1px;
  border: 1px solid black;
  color: white;
}

.handshake-button {
  border: 1px solid black !important;
  color: black;
  margin-left: 2px;
  margin-right: 2px;
  width: 40px;
  height: 35px;
  background-color: white;
}

.glyphicon {
  top: 4px !important;
  font-size: 2em;
}

.glyphicon-log-out, .glyphicon-chevron-down {
  top: 2px !important;
  font-size: 1.2em;
}

body {
  background: url(/assets/field_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-head {
  text-align: center;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}

.signed-in-greeting {
  padding-top: 2px;
  padding-bottom: 1.4vh;
  border: 2px solid black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #0E3C5D;
}

.greeting {
  font-size: 1.25em;
  margin-left: -2em;
  display: inline-block;
  margin-top: 4px;
  color: white;
}

.activity-row {
  padding-bottom: 3px;
  padding-top: 3px;
  border-bottom: 1px solid grey;
}

.activity-row2 {
  padding-top: 3px;
}

.match-row {
  padding-bottom: 12px;
  border-bottom: 1px solid grey;
}

.disable-button {
  opacity: .8 !important;
  border: 1px solid darkgreen !important;
}

.visible-text {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.visible-text label {
  text-decoration: underline;
}

.messages {
  text-align: right;
  display: block;
}

.down-arrow {
  position: fixed;
  bottom: 0vh;
  left: 45%;
  font-size: 2em;
  color: #dba70d;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.home-text {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 18px;
}

.home-text img {
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 10vh;
}

.home-pic {
  height: 25vh;
  width: 43vw;
  border-radius: 15px;
}

.front-page {
  height: 50vh;
}

.home-subtitle {
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  text-decoration: none;
}

#home-title {
  text-align: center;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-size: 4em;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 2px lightgrey;
}

.login_register_button a {
  color: white !important;
  font-family: 'Open Sans', sans-serif;
}


.login_register_button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #42b8fc), color-stop(1, #43609c));
  background:-moz-linear-gradient(top, #42b8fc 5%, #43609c 100%);
  background:-webkit-linear-gradient(top, #42b8fc 5%, #43609c 100%);
  background:-o-linear-gradient(top, #42b8fc 5%, #43609c 100%);
  background:-ms-linear-gradient(top, #42b8fc 5%, #43609c 100%);
  background:linear-gradient(to bottom, #42b8fc 5%, #43609c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#42b8fc', endColorstr='#43609c',GradientType=0);
  background-color:#43609c;
  color: white;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #43609c;
  display:inline-block;
  cursor:pointer;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  width: 80%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  text-decoration:none;
  text-shadow: 0px 0 lightgray, 0 1px lightgray, 0px 0 lightgray, 0 0px lightgray;
}

.hide {
  display:none;
}

.profile-img {
  height:100px;
}

/*TEMP STYLING FOR "USERS/_SHOW_CARD" */
.show-card-container {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 25px;
  background-color: white;
  overflow: auto;
  padding:10px;
}

.show-card-picture {
  width: 270px;
}

.card-swipe-yes {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50vh;
  right: 0;
  background-color: green !important;
  border: 2px dashed black;
}

.card-swipe-no {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50vh;
  left: 0;
  background-color: red !important;
  border: 2px dashed black;
}

/*END OF TEMP STYLING FOR "USERS/_SHOW_CARD"*/
.center {
  margin: auto;
  text-align: center;
}
.home-cta{
  margin-top:20px;
  margin-bottom:10px;
}
.bio-input {
  color: #000000;
}
.cl-b{clear:both}
.carousel-inner div div span{
color:#4cae4c;
}
