/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$cream: #FEFEE7;
$light-teal: #A4D0C4;
$teal: #72C4B9;
$gray: #9A9C9F;
$black: #0F0F0D;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  padding-top: 7.5vh !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

a:hover, a:active{
  text-decoration: none !important;
}

.hide {
  display:none;
}

.profile-img {
  height:100px;
}

/*TEMP STYLING FOR "USERS/_SHOW_CARD" */
.show-card-container {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 25px;
  background-color: white;
  overflow: auto;
  padding:10px;
}

.show-card-picture {
  width: 270px;
}

.card-swipe-yes {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50vh;
  right: 0;
  background-color: green !important;
  border: 2px dashed black;
}

.card-swipe-no {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50vh;
  left: 0;
  background-color: red !important;
  border: 2px dashed black;
}

/*END OF TEMP STYLING FOR "USERS/_SHOW_CARD"*/
.center {
  margin: auto;
  text-align: center;
}
.home-cta{
  margin-top:20px;
  margin-bottom:10px;
}
.bio-input {
  color: #000000;
}
.cl-b{clear:both}
.carousel-inner div div span{
color:#4cae4c;
}


.message-left {
  text-align: left;
  padding-left: 5px;
}

.message-right {
  text-align: right;
  padding-right: 5px;
}



  .bubble {
    position: relative;
    width: 50px;
    height: 30px;
    padding: 0px;
    background: #11AD09;
    border: #68876a solid 2px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    float: right;
    margin-right: 15px !important;
    margin-top: 20px !important;
    padding-top: 4px !important;
    padding-left: 8px !important;
    color: white;
}

  .bubble:after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 5px;
    border-style: solid;
    border-width: 11px 8px 0;
    border-color: #11AD09 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

  .bubble:before {
    content: "";
    position: absolute;
    top: 36px;
    left: 12px;
    border-width: 12px 9px 0;
    border-color: #11AD09 transparent;
    display: block;
    width: 0;
    z-index: 0;
}

  .bubble2 {
    position: relative;
    margin-bottom: 30px;
    width: auto;
    max-width: 200px;
    height: auto;
    padding: 2px;
    background: #11AD09;
    border: #11AD09 solid 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: right;
    color: white;
}

  .bubble2:after {
    content: "";
    position: absolute;
    bottom: -11px;
    right: -1px;
    border-style: solid;
    border-width: 11px 8px 0;
    border-color: #11AD09 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

  .bubble2:before {
    content: "";
    position: absolute;
    top: 40px;
    left: 12px;
    border-width: 12px 9px 0;
    border-color: #11AD09 transparent;
    display: block;
    width: 0;
    z-index: 0;
}

  .bubble3 {
    position: relative;
    width: auto;
    max-width: 200px;
    height: auto;
    padding: 2px;
    background: #808080;
    border: #808080 solid 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    color: white;
}

  .bubble3:after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 1px;
    border-style: solid;
    border-width: 11px 8px 0;
    border-color: #808080 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

  .bubble3:before {
    content: "";
    position: absolute;
    top: 40px;
    left: 12px;
    border-width: 12px 9px 0;
    border-color: #808080 transparent;
    display: block;
    width: 0;
    z-index: 0;
}

.chat-author {
  width: 100%;
  clear: both;
}

.input-group {
  clear: both;
}

.chat-header {
  text-align: center;
  margin-top: 10px !important;
  text-decoration: underline;
  margin-bottom: 1px !important;
}

.chat-small {
  font-size: 12px;
  color: #C2C2C2;
  text-align: center;
  margin-top: 1px !important;
}

.img-circle {
  height: 100px;
  width: 100px;
}
