.profile-pic {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.profile-row {
  width:100%;
}

.profile-card {
  padding-left: 5px;
}

.profile-text {
  text-align: center;
  margin-bottom: 0 !important;
  padding-left: 8px;
  padding-right: 8px;
}

.name-age {
  font-size: 2em;
}

.sport-button-container {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}

.sports-beginner {
  border: 1px solid green;
  background-color: #ABE0A6;
  text-align: center;
  display: inline-block;
  margin: 2px;
  padding: 1px;
  border-radius: 5px;
}

.sports-intermediate {
  border: 1px solid yellow;
  background-color: #E1E3A3;
  text-align: center;
  display: inline-block;
  margin: 2px;
  padding: 1px;
  border-radius: 5px;
}

.sports-advanced {
  border: 1px solid red;
  background-color: #E3A3A3;
  text-align: center;
  display: inline-block;
  margin: 2px;
  padding: 1px;
  border-radius: 5px;
}
