// OPP, 'other people's profiles'
.profile-show {
  clear: both;
  overflow: auto;
  img {
    display: block;
    max-height: 350px;
    margin: 0 auto;
  }
  h1 {
    margin-left: 20px;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
  }
  div.profile-show-sports-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}


.profile-pic {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 35vh;
  margin-left: auto;
  margin-right: auto;
}

.profile-row {
  width:100%;
}

.profile-card {
  padding-left: 5px;
}

.profile-text {
  text-align: center;
  margin-bottom: 0 !important;
  padding-left: 8px;
  padding-right: 8px;
}

.name-age {
  font-size: 2em;
}

.sport-button-container {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}

.sports {
  display: inline-block;
  text-align: center;
  float: left;
  background-color: black;
  height: 30px;
  font-size: 1.2em;
  padding: 0 15px;
  color: white;
}

.fa-plus-circle {
  color: #337AB7;
}

.add_sport {
  display: block;
  height: 50px;
  margin-left: 10px;
  padding: 10 20px;
  line-height: 50px;
  float: left;
}

.sports-beginner {
  background-color: #0B800D;
  border: 2px solid white;
  border-radius: 10px;
}

.sports-intermediate {
 background-color: #4057D6;
 border: 2px solid white;
 border-radius: 10px;
}

.sports-advanced {
  background-color: #0F0F0D;
  border: 2px solid white;
  border-radius: 10px;
}

.inline {
  border: none;
  background: transparent;
  color: #000;
  display: inline;
}

.number_form {
  width: 75px;
}

.add_sports_helper {
  font-size: 1.5em;
  margin-left: 60px;
  color: #A94442;
  height: 40px;
  line-height: 40px;
}

.menu-container {
  position: relative;
}

.glyphicon-hand-left {
  margin-right: 10px;
}

.search-bar {
 width: 100%;
}

.list_plus {
  margin-left: 0;
}

.warning {
  background-color: #d9534f;
}

.profile-body {
  padding-bottom: 8vh;
}

.can_save {
  background-color: #72C4B9 !important;
}

.btn-skill {
  margin: 1%;
  height: 40px;
  color: white;
  width: 30%;
  border-radius: 6px;
}
/* Bootstrap colors */
/* #DFF0D8, #DFF0D8, #D9EDF7, #C3EAF2, #FCF8E3, #FAEBCC */
