// Place all the styles related to the swipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.swipe-icon {
  display:block;
  height:200px;
  margin-left:auto;
  margin-right:auto;
}
.text-center {
  text-align: center;
}
.footer-center{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
