// Place all the styles related to the swipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.swipe-left {
  display:block;
  height:130px;
  width:130px;
  margin: auto;
}

.swipe-right {
  display:block;
  height:130px;
  width:130px;
  margin: auto;
}

.footer-center{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.sport_card {
  display: inline-block;
  text-align: center;
  float: left;
  background-color: black;
  height: 22px;
  font-size: .8em;
  color: white;
}

.sports-beginner-card {
  background-color: #0B800D;
  border: 2px solid white;
  border-radius: 5px;
}

.sports-intermediate-card {
 background-color: #4057D6;
 border: 2px solid white;
 border-radius: 5px;
}

.sports-advanced-card {
  background-color: #0F0F0D;
  border: 2px solid white;
  border-radius: 5px;
}
