// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-body {
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: block;
  overflow: auto;
}
.welcome-container-fluid {
  // height: 100% !important;
}

#background-img {
  background-image: url("tennis_frontpage_blur.jpg");
  background-size: 100% 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.swiper-container {
  height:100% !important;
  // width: 100% !important;

  .walkthrough-slide {
    background-color: white;
    .walkthrough {
      height: 80%;
      margin-bottom: 50px;
    }
  }
  .swiper-pagination-bullets{
    margin-bottom: 11.5vh;
  }
  .front-page {
    width: 100%;
    #home-title {
      margin-top: -5vh;
      font-family: 'Raleway', sans-serif !important;
      text-align: center;
      // margin-top: -5vh;
      margin-bottom: 0vh;
      font-size: 3em;
      text-shadow: 3px 3px 2px black;
      color:white;
    }
    .home-subtitle {
      margin-top: 5vh;
      text-align: center;
      color: white;
      font-size: 1.3em;
      text-shadow: 2px 1px 1px black;
      text-decoration: none;
    }
    .logo {
      margin-top:-25vh;
      margin-left: auto;
    }
    .carousel-control{
      // margin-top: 85vh;
    }
    .carousel-inner {
      height: 1.3em;
      div div span{
        color:#72C4B9;
        width: 100%;
        .item span {
          line-height: 1.3em;
        }
      }
    }
  }
}

.home-bottom-div-10 {
  position:absolute;
  bottom:0;
  width: 100vw;
  height: 11.5vh;
  z-index: 100;
  .start-btn {
    padding-top: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    color: black !important;
    background-color: #72C4B9 !important;
    line-height: 11.5vh;
    font-size: 2.5em !important;
    border-top: 1px solid #0F0F0D;
    text-shadow: 3px 2px 2px #A4D0C4;
  }
}

