// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  height: 20vh;
  margin-top: 5vh;
  margin-left:35vw;
}

.btn-wide {
  width: 100vw;
}

.home-cta{
  margin-top:20px;
  margin-bottom:10px;
}
#background-img{
  background-image: url("skiing-blur.jpeg");
}
