
<h1 class="text-center">Your Activities</h1>
<div class="col-md-12">
<% @activity_blurbs.each do |activity_blurb| %>
<div class="activity-row2 col-md-4">
<u>Activity</u>: <%= Activity.find(activity_blurb.activity_id).name %>
</div>
<div class="activity-row col-md-8">
<u>Your Experience</u>: <%= activity_blurb.text %>
</div>
<% end %>
</div>
<h3 class="text-center">Select at least one activity</h3>

<%= render partial: 'new', locals: {activity_blurb: @activity_blurb} %>

<% if @activity_blurbs.length > 0 %>

  <div class="center">
    <h1>
      <%= link_to "Start Swiping", "/feed", :class=>"btn btn-success btn-lg" %>
    </h1>
  </div>

<% end %>
